.col-4 {
  border: 1px solid blue;
}

.height {
  height: 250px;
  width: 50%;
}

#indexImg {
  width: 100%;
}

.footerColor {
  background-color: #cccccc;
  border-top: 3px solid teal;
  color: black;
}

.position {
  position: relative;
}

#projectOne {
  position: relative;
  text-align: center;
  height: 36px;

  background-color: teal;
  color: black;
  top: 74%;
  z-index: 2;
}

#projectTwo {
  position: relative;
  text-align: center;
  height: 36px;

  background-color: teal;
  color: black;
  top: 74%;
  z-index: 2;
}

#projectThree {
  position: relative;
  text-align: center;
  height: 36px;
  width: 100%;
  background-color: teal;
  color: black;
  top: 74%;
}

#projectFour {
  position: relative;
  text-align: center;
  height: 36px;
  width: 100%;
  background-color: teal;
  color: black;
  top: 74%;
}

.push {
  top: 74%;
}

.padding {
  padding: 20px;
}

h2 {
  background-color: teal;
  color: black;
}

.image-one {
  background-image: url(./images/placeholder1.jpg);
  height: 250px;
}

.image-two {
  background-image: url(./images/placeholder2.jpg);
  height: 250px;
}

.image-three {
  background-image: url(./images/placeholder3.jpg);
  height: 250px;

  padding: 0px;
}

.image-four {
  background-image: url(./images/placeholder4.jpg);
  height: 250px;
}

.col-lg-6 {
  margin-right: 5px;
}
